@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmber.ttf') format('ttf');
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmberBdlt.ttf') format('ttf');
  font-weight: 400;
  font-style: bold, italic;
}
@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmberLt.ttf') format('ttf');
  font-weight: 400;
  font-style: light;
}
@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmberRg.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmberLtIt.ttf') format('ttf');
  font-weight: 400;
  font-style: light, italic;
}
@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmberRgIt.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}
@theme {
  --font-amazon-ember: "Amazon Ember", sans-serif;
}
@import "tailwindcss";
